[Unit]
Description=NMOS Sync Daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory=/opt/nmos-daemon
ExecStart=/opt/nmos-daemon/bin/nmos-sync-daemon /opt/nmos-daemon/config/daemon_config.json
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
